<?php
$record = $block->getEditRecord();
?>
<?php echo "hai";
?>
<form id="cont-crud-form" method="post" action="<?php echo $block->getBaseUrl().'cont/index/save'; ?>">
Name:<input type="text" class="form-control" value="<?php echo $item->getData('name'); ?>">
         url_key:<input type="text" class="form-control" value="<?php echo $item->getData('url_key'); ?>">
         Post_content:<input type="text" class="form-control" value="<?php echo $item->getData('post_content'); ?>">
         Status:<input type="number" class="form-control" value="<?php echo $item->getData('status'); ?>">
         <input type="submit">
</form>
 