<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
<script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>  
</head>
 <body>
<table>
	<tr>
		<th>Id</th>
		<th>Name</th>		
		<th>Created At</th>
		<th>Updated At</th>
		<th colspan="2">Action</th>
	</tr>
 
	<?php
		$collection = $block->getResult();
		foreach($collection as $item){		
	?>
	<tr>
		<td><?php echo $item->getData('id'); ?></td>
		<td><?php echo $item->getData('name'); ?></td>
		<td><?php echo $item->getData('created_at'); ?></td>
		<td><?php echo $item->getData('updated_at'); ?></td>
		<td><a class="action primary" href="" data-target="#myModal" data-toggle="modal" id="clk">Edit</a></td>
		<!-- <td><a class="action primary" href="<?php //echo $block->getUrl('crud/index/delete').'?id='.$item->getData('id'); ?> ">Delete</a>
</td> -->
	</tr>
        
	<?php } ?>
</table>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
          <form action="<?php echo $block->getBaseUrl().'crud/index/save'; ?>" class="" id="mageplaza-blog-form" method="post">
          <input type="hidden" name="hide">
		   Id:<input type="text" id="post" name="id" class="form-control">
         Name:<input type="text" id="nam" name="name" class="form-control">
        Created_at:<input type="text" id="ct" name="ctime" class="form-control">
        Updated_at:<input type="text" id="ut" name="utime" class="form-control">
		 <input type="submit" class="btn btn-success">
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
  
     <script type="text/javascript">
  $(document).ready(function(){
  $("body").delegate("table tbody tr td:nth-child(5)", "click", function(){
  var $row = $(this).closest("tr"),        // Finds the closest row <tr> 
    $tds = $row.find("td:nth-child(2)");
     $.each($tds, function() {
        //console.log($(this).text());
        var x = $(this).text();
        $("#nam").val(x);
    });
	 $tdt = $row.find("td:nth-child(1)");
	$.each($tdt, function() {
        //console.log($(this).text());
        var y = $(this).text();
        $("#post").val(y);
    });
	 $tdu = $row.find("td:nth-child(3)");
	$.each($tdu, function() {
        //console.log($(this).text());
        var z = $(this).text();
        $("#ct").val(z);
    });
	$tdv = $row.find("td:nth-child(4)");
	$.each($tdv, function() {
        //console.log($(this).text());
        var a = $(this).text();
        $("#ut").val(a);
    });
	 
    });
});
</script>
 </body>